@{ ViewBag.Title = "About"; }
<h2>AGB</h2>
<h3>Terms of Service</h3>


<p>
    Allgemeine Geschäftsbedingungen
    Electronic 4 You e.U.
    Offenlegung gem. §5 ECG:
    Firma Electronic 4 You e.U.
    Anschrift: Simmeringer Hauptraße 47-49, Wien - 1110
    Telefon : 0800 1234 98765
    Email: contact@oliver-rotter.com
    UID: ATU …………….
    Geschäftsführer Oliver Rotter
    Register: FN: FN 254253w
    Gewerbebehörde: Handelsgericht Wien


    (Im Folgenden kurz „Verkäufer“ genannt).
    1 Geltungsbereich
    1.1 Diese Allgemeinen Geschäftsbedingungen ("AGB") und die unter Pkt 8 geregelten Rücktrittsrechte
    und Rücktrittsfolgen für Verbraucher gelten – soweit nicht ausdrücklich Gegenteiliges vereinbart
    wurde – für Vertragsabschlüsse zwischen Verkäufer und dem Kunden. Dies unabhängig davon, ob ein
    solcher Vertragsabschluss online über unsere Website www.xxx.at oder offline in unserer Filiale
    geschlossen wird. Für Rechtsgeschäfte mit Unternehmern gelten zudem die Bestimmungen im
    Abschnitt II.
    1.2 Mit der Abgabe seiner Vertragserklärung (siehe Pkt 1.4) akzeptiert der Kunde diese AGB.
    Vertragsabschlüsse sind nur zu diesen Bedingungen möglich. Abweichenden, entgegenstehenden,
    einschränkenden oder ergänzenden Geschäftsbedingungen und Regelungen des Kunden müssen wir
    ausdrücklich zustimmen, damit diese im Einzelfall Vertragsbestandteil werden. Insbesondere gelten
    Vertragserfüllungshandlungen unsererseits nicht als Zustimmung zu etwaigen von unseren AGB
    abweichenden Bedingungen.
    1.3 Bei mehreren, zeitlich auseinander liegenden Vertragsabschlüssen wird jeweils die zum Zeitpunkt
    der Abgabe der Vertragserklärung (siehe Pkt 1.4) durch den Kunden geltende und durch uns
    veröffentlichte bzw. ausgehängte Fassung der AGB Vertragsbestandteil. Mehrere Vertragsabschlüsse
    mit einem bestimmten Kunden begründen ohne ausdrückliche schriftliche Vereinbarung eines
    Rahmenvertrages weder ein Dauerschuldverhältnis noch einen sonstigen Anspruch auf erneuten
    Abschluss eines Kaufvertrags.
    1.4 Vertragsschluss
    1.4.1 Die Präsentation unserer Produkte auf unserer Website oder in unseren Filialen ist kein Angebot
    im rechtlichen Sinn. Das Angebot erfolgt jeweils ausschließlich durch den Kunden wie in Punkt 1.4.3
    dargestellt.
    1.4.2 Das Angebot des Kunden erfolgt in unseren Filialen durch Übergabe der Ware an den Kassier
    und deren Bezahlung. Wir nehmen ein solches Angebot durch Entgegennahme des Kaufpreises
    sowie Aushändigung der Ware an.
    1.4.3 Auf unserer Website erfolgt das Angebot des Kunden durch die Bestellung des Artikels. Das
    Angebot des Kunden wird durch Klick auf den Button „zahlungspflichtig bestellen“ für ihn
    verbindlich. Bitte beachten Sie, dass dem Kunden nach Eingang seiner Bestellung bei uns eine
    gesonderte Bestätigung des Erhalts seiner Bestellungen geschickt wird. Eine solche Bestätigung stellt
    - 3 -
    noch keine Annahme des Angebots dar. Unsere Annahme erfolgt erst durch eine gesonderte,
    schriftlich übersandte Auftragsbestätigung binnen angemessener Frist, oder durch faktische Lieferung
    der bestellten Ware(n). Unter angemessener Frist ist ein Zeitraum von längstens 5 Werktage zu
    verstehen. Wir sind berechtigt, Bestellungen auch nur zum Teil anzunehmen oder ohne Angabe von
    Gründen abzulehnen. Sollten sie trotz gültig eingegebener E-mail Adresse keine Nachricht erhalten,
    bitte wenden sie sich an uns unter xxx@xxx.at
    2 Registrierung auf der Website, Websitezugriff
    2.1 Vor der ersten Bestellung muss sich der Kunde auf der Website registrieren.
    2.2 Der Kunde muss mindestens 18 Jahre und voll geschäftsfähig sein. Mit der Absendung des
    Registrierungsformulars bestätigt der Kunde die Richtigkeit seiner Angaben, insbesondere seines
    Namens, seines Alters, seiner Geschäftsfähigkeit und seiner Adresse.
    2.3 Als neuer Benutzer können Sie sich anmelden, indem Sie einen Benutzernamen, der nicht mit
    Ihrem Namen ident sein muss, eingeben, zusätzlich vergeben Sie ein Passwort. Jetzt bitte auf
    <Registrieren>
        klicken. Dann geben Sie bitte Ihren Namen, optional einen Nicknamen, Ihre E-MailAdresse (für die Bestellbestätigungen) und ein Passwort ein. Anschließend kommen Sie zu Ihrem
        Konto. Hier können Sie sämtliche Daten ergänzen, wie z. B. die Rechnungsadresse oder eine
        abweichende Lieferadresse.
        2.4 Der Kunde ist für die Geheimhaltung des Zugriffscodes verantwortlich. Wir können nur überprüfen,
        ob ein Zugriffscode mit einer ordnungsgemäß freigeschalteten Kundenberechtigung übereinstimmt.
        Eine weitergehende Überprüfungspflicht trifft uns nicht. Jede Person, die sich mit einer auf der
        Website freigegebenen Kundenberechtigung und dem dazu passenden Zugriffscode einloggt gilt als
        bevollmächtigt, Bestellungen für den damit registrierten Kunden rechtswirksam abzugeben. Wir
        empfehlen das Kennwort regelmäßig zu ändern.
        2.5 Uns trifft keine Haftung für eine unterbrechungsfreie Funktion der Website. Wir sind jederzeit
        berechtigt, auch ohne Vorankündigung, Arbeiten an der Website durchzuführen, die eine
        Abschaltung/Unterbrechung mit sich bringen. Wir sind auch nicht verpflichtet, eine bestimmte
        Serverkapazität zur Verfügung zu stellen, sodass mit Überlastungen und längeren Antwortzeiten
        gerechnet werden muss.
        3 Preise, Liefer- und Versandkosten
        3.1 Die auf der Website angeführten Preise sind Endverbraucherpreise inklusive Umsatzsteuer. Alle
        zusätzlichen Fracht-, Liefer-, Versand- oder sonstigen Kosten zeigen wir dem Verbraucher vor
        Abgabe seines Anbots an, soweit diese Kosten vernünftigerweise im Voraus berechnet werden
        können. Wenn diese Kosten vernünftigerweise nicht im Voraus berechnet werden können, weisen wir
        im Vorhinein auf das allfällige Anfallen solcher zusätzlicher Kosten vor Abgabe des Angebots durch
        den Kunden hin.
        3.2 Für Buchsendungen gelten die Bestimmungen des Bundesgesetzes über die Preisbindung bei
        Büchern.
        4.Zahlungsbedingungen
        4.1 Sofern nichts anderes schriftlich vereinbart wurde sind unsere Forderungen vor Ausfolgung der
        bestellten Produkte vollständig und ohne Abzug zu bezahlen. Eine Bezahlung des Kaufpreises bei
        Kauf über unsere Website ist mittels der folgenden Zahlungsmethoden möglich: Kreditkarte,
        Vorausrechnung, Bezahlung bei Abholung im Laden. Bei Kauf in unserer Filiale stehen die folgenden
        - 4 -
        Zahlungsmethoden zur Verfügung: Barzahlung oder Bankomat. Der Kaufpreis ist jeweils sofort bei
        unserer Annahme des Angebots fällig. Der Betrag in Höhe des Kaufpreises wird daher bei Wahl der
        Zahlung per Kreditkarte bei Annahme des Angebots durch uns von der vom Kunden angegebenen
        Kreditkarte abgebucht.
        5 Auslieferung / Einräumung der Nutzungsrechte bei E-Books
        5.1 Die Auslieferung (Postaufgabe durch uns) bei einem online Kauf erfolgt – sofern die Ware vorrätig
        ist und auf der Website für sie nichts Abweichendes vermerkt ist – innerhalb von 4-5 Werktagen nach
        Annahme der Bestellung per E-Mail bzw. Eingang der Bestellung bei Annahme durch faktische
        Lieferung (Pkt 1.4.3). Die Wahl des Transporteurs erfolgt durch uns nach bestem Ermessen, aber
        ohne Gewähr für die Wahl der schnellsten und billigsten Versendung.
        5.2 Nicht auf einem körperlichen Datenträger gespeicherte digitale Inhalte wie E-Books stellen wir den
        Kunden nach 10 Tagen zum Download bereit, sofern der Kunde nicht ausdrücklich zustimmt, dass der
        Abruf bereits früher erfolgen soll und zur Kenntnis nimmt, dass dadurch gemäß den Bestimmungen
        unter Pkt 6 8. dieser AGB sein Widerrufs- und Rücktrittsrecht entfallen können.
        5.3 Die Lieferfrist wird durch alle vom Parteiwillen unabhängigen Umständen, wie z.B. Fälle höherer
        Gewalt, unvorhersehbare Betriebsstörungen, behördliche Eingriffe, Transport- und Verzollungsverzug,
        Transportschäden, Ausschuss wichtiger Fertigungsteile und Arbeitskonflikte, um die Dauer der
        Hinderung verlängert.
        5.4 Die Lieferung erfolgt an die vom Kunden angegebene Lieferanschrift. Etwaige Mehrkosten die
        durch die Angabe einer unrichtigen Lieferanschrift durch den Kunden verursacht werden, sind von
        diesem zu tragen.
        5.5 E-Books sind in der Regel urheberrechtlich geschützt. Sofern sie E-Books beziehen, übertragen
        wir Ihnen diesbezüglich kein Eigentum, sondern ein nicht- exklusives und nicht-übertragbares
        Nutzungsrecht ("Werknutzungsbewilligung"). Diese Werknutzungsbewilligung berechtigt sie als
        Kunden lediglich, das E-Book downzuloaden und für den eigenen privaten Gebrauch innerhalb
        Österreichs auf einem Device zu speichern und zu nutzen. Beachten Sie die Bestimmungen in Punkt.
        6.4.
        5.6 Eine über den bestimmungsgemäßen Gebrauch gemäß Pkt 5.5 hinausgehende Nutzung digitaler
        E-Books ist untersagt. Insbesondere darf ein solches digitales Gut nicht vervielfältigt, verbreitet,
        drahtlos- oder drahtgebunden versendet, Dritten entgeltlich zur Verfügung gestellt sowie nicht
        übersetzt, bearbeitet oder verarbeitet in Verkehr gebracht werden.
        6 Widerrufs- und Rücktrittsrechte und –folgen für Verbraucher nach FAGG (6.1 bis 6.8) bzw
        KSchG (6.9)
        6.1 Ist der Kunde Verbraucher im Sinne des KSchG und hat er den auf diesen AGB basierenden
        Vertrag entweder als Fernabsatzvertrag oder außerhalb unserer Geschäftsräume geschlossen (und
        beträgt das zu zahlende Entgelt im letzteren Fall mehr als EUR 50), kann er von diesem bis zum
        Ablauf der in Pkt 6.2 genannten Frist ohne Angabe von Gründen zurücktreten. Dies gilt nicht in den in
        Pkt 6.8 geregelten Ausnahmefällen, insb beim Erwerb von E-Books oder POD Print On Demand
        Produkten unter den gem Pkt 6.8.11 festgehaltenen Voraussetzungen. Für den Rücktritt muss uns der
        Kunde mit einer eindeutigen Erklärung (zB ein mit der Post versandter Brief, Telefax oder E-Mail –
        siehe dazu Pkt 1) über seinen Entschluss, diesen Vertrag zu widerrufen, informieren. Der Rücktritt ist
        jedoch an keine bestimmte Form gebunden. Bitte beachten Sie aber, daß uns der Widerruf zugehen
        muß, um wirksam zu sein. Der Kunde kann dafür das hier beigefügte Muster-Widerrufsformular
        verwenden.
        - 5 -
        Rücktrittserklärung / Widerrufserklärung
        An die Firma xxx, FAX ………….. Email: xxx@xxx.at
        Hiermit widerrufe(n) ich/wir den von abgeschlossen Vertrag über den Artikel ……………, welchen
        ich/wir am ….. bestellt / am …. erhalten haben.
        Rückzahlung auf Konto IBAN ……….. BIC ……….
        Namen des/der Konsumenten (Verbraucher) ………………
        Anschrift ………………
        ………….. ……………………………….
        Datum Unterschrift
        6.2 Die Rücktrittsfrist beträgt wie folgt:
        6.2.1 Bei Kaufverträgen und sonstigen auf den entgeltlichen Erwerb einer Ware gerichteten Verträgen
        können sie binnen 14 Tage ab dem Tag an dem der Verbraucher sie oder ein von ihm ihnen
        benannter Dritter, der nicht der Beförderer ist, in den Besitz an der Ware bzw. der letzten Teilsendung
        bzw der zuletzt gelieferten Ware erlangt hat (§ 11 Abs 2 Z 2 lit a) bis c) FAGG).
        6.2.2 Bei Verträgen über die regelmäßige Lieferung von Waren über einen festgelegten Zeitraum
        hinweg beträgt die Frist 14 Tage von dem Tag, an dem der Verbraucher oder ein von ihm benannter
        Dritter, der nicht der Beförderer ist, den Besitz an der zuerst gelieferten Ware erlangt;
        6.2.3 Bei Verträgen über die Lieferung von nicht auf einem körperlichen Datenträger gespeicherten
        digitalen Inhalten (wie zB E-Books) – sofern nicht die Ausnahme vom Rücktrittsrechts gem Pkt 6.8.11
        zur Anwendung kommt – beträgt die Frist 14 Tage ab dem Tag des Vertragsabschlusses.
        6.2.4 Die Rücktrittsfrist nach Pkt 6.2.1 bis 6.2.4 ist gewahrt, wenn die Rücktrittserklärung innerhalb der
        Frist abgesendet wird. Bitte beachten Sie aber, daß uns der Widerruf zugehen muß, um wirksam zu
        sein (das Risiko im Falle einer postalischen oder elektronischen Übermittlung (Fax, Email) liegt bei
        Ihnen).
        6.3 Sind wir unserer Informationspflicht nach § 4 Abs 1 Z 8 FAGG nicht nachgekommen, so verlängert
        sich die Rücktrittsfrist aus Punkt 8.2 um zwölf Monate. Kommen wir unseren Informationspflichten
        innerhalb dieser Frist nach, so endet die Rücktrittsfrist 14 Tage nach dem Zeitpunkt, zu dem der
        Verbraucher diese Information erhält.
        6.4 Wenn der Verbraucher den Vertrag widerruft, haben wir diesem alle Zahlungen, die wir von ihm
        erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich
        daraus ergeben, dass der Verbraucher eine andere Art der Lieferung als die von uns angebotene,
        günstigste Standardlieferung gewählt hat), unverzüglich und spätestens binnen 14 Tagen ab dem Tag
        zurückzuzahlen, an dem die Mitteilung über dessen Widerruf dieses Vertrags bei uns eingegangen ist.
        Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das der Verbraucher bei der
        ursprünglichen Transaktion eingesetzt hat, es sei denn, mit diesem wurde ausdrücklich etwas anderes
        vereinbart. In keinem Fall werden dem Verbraucher wegen dieser Rückzahlung Entgelte berechnet.
        Bei Kaufverträgen oder sonstigen auf den entgeltlichen Erwerb einer Ware gerichteten Verträgen
        können wir die Rückzahlung verweigern, bis wir entweder die Ware wieder zurückerhalten haben oder
        - 6 -
        der Verbraucher einen Nachweis über die Rücksendung der Ware erbracht hat, sofern wir nicht
        angeboten haben, die Ware selbst abzuholen.
        6.5 Der Verbraucher hat die Waren unverzüglich und in jedem Fall spätestens binnen 14 Tagen ab
        dem Tag, an dem dieser uns über den Widerruf dieses Vertrags unterrichtet, an uns zurückzusenden
        oder zu übergeben. Die Frist ist gewahrt, wenn der Verbraucher die Waren vor Ablauf der Frist von 14
        Tagen absendet. Der Verbraucher trägt die unmittelbaren Kosten der Rücksendung, sofern wir ihn
        vorab über die Pflicht zur Tragung der Kosten für die Rücksendung informiert haben. Der Verbraucher
        muss für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen
        zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen
        Umgang durch den Verbraucher zurückzuführen ist. Der Verbraucher haftet jedoch in keinem Fall für
        den Wertverlust der Ware, wenn er von uns nicht über sein Rücktrittsrecht belehrt wurde.
        6.6 Tritt der Verbraucher von einem Vertrag über die Lieferung von nicht auf einem körperlichen
        Datenträger gespeicherten digitalen Inhalten (wie zB E-Books) – sofern nicht die Ausnahme vom
        Rücktrittsrechts gem Pkt 6.8.11 zur Anwendung kommt – zurück, so trifft den Verbraucher für bereits
        erbrachte Leistungen des Unternehmers keine Zahlungspflicht.
        6.7 Hat der Verbraucher, im Falle eines Vertrages über Dienstleistungen, verlangt, dass diese
        während der Widerrufsfrist beginnen sollen, so hat er uns einen angemessenen Betrag zu zahlen, der
        dem Anteil der bis zu dem Zeitpunkt, zu dem der Verbraucher uns von der Ausübung des
        Widerrufsrechts hinsichtlich dieses Vertrags unterrichtet, bereits erbrachten Dienstleistungen im
        Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.
        6.8 Der Verbraucher hat gemäß § 18 Abs 1 FAGG kein Rücktrittsrecht beim Abschluss von Verträgen
        über:
        6.8.1 Dienstleistungen, wenn wir – auf Grundlage eines ausdrücklichen Verlangens des Verbrauchers
        nach § 10 FAGG sowie einer Bestätigung des Verbrauchers über dessen Kenntnis vom Verlust des
        Rücktrittsrechts bei vollständiger Vertragserfüllung – noch vor Ablauf der Rücktrittsfrist nach § 11
        FAGG mit der Ausführung der Dienstleistung begonnen haben und die Dienstleistung sodann
        vollständig erbracht wurde,
        6.8.2 Waren oder Dienstleistungen, deren Preis von Schwankungen auf dem Finanzmarkt abhängt,
        auf die der Unternehmer keinen Einfluss hat und die innerhalb der Rücktrittsfrist auftreten können,
        6.8.3 Waren, die nach Kundenspezifikationen angefertigt werden oder eindeutig auf die persönlichen
        Bedürfnisse zugeschnitten sind,
        6.8.4 Waren, die schnell verderben können oder deren Verfallsdatum schnell überschritten würde,
        6.8.5 Waren, die versiegelt geliefert werden und aus Gründen des Gesundheitsschutzes oder aus
        Hygienegründen nicht zur Rückgabe geeignet sind, sofern deren Versiegelung nach der Lieferung
        entfernt wurde,
        6.8.6 Waren, die nach ihrer Lieferung auf Grund ihrer Beschaffenheit untrennbar mit anderen Gütern
        vermischt wurden,
        6.8.7 alkoholische Getränke, deren Preis bei Vertragsabschluss vereinbart wurde, die aber nicht
        früher als 30 Tage nach Vertragsabschluss geliefert werden können und deren aktueller Wert von
        Schwankungen auf dem Markt abhängt, auf die der Unternehmer keinen Einfluss hat,
        - 7 -
        6.8.8 Ton- oder Videoaufnahmen oder Computersoftware, die in einer versiegelten Packung geliefert
        werden, sofern deren Versiegelung nach der Lieferung entfernt wurde,
        6.8.9 Zeitungen, Zeitschriften oder Illustrierte mit Ausnahme von Abonnement-Verträgen über die
        Lieferung solcher Publikationen,
        6.8.10 Dienstleistungen in den Bereichen, Beförderung von Waren, Lieferung von Speisen und
        Getränken und Dienstleistungen, die im Zusammenhang mit Freizeitbetätigungen erbracht werden,
        sofern jeweils für die Vertragserfüllung durch den Unternehmer ein bestimmter Zeitpunkt oder
        Zeitraum vertraglich vorgesehen ist,
        6.8.11 die Lieferung von nicht auf einem körperlichen Datenträger gespeicherten digitalen Inhalten,
        wie beispielsweise E-Books, wenn der Unternehmer – mit ausdrücklicher Zustimmung des
        Verbrauchers, verbunden mit dessen Kenntnisnahme vom Verlust des Rücktrittsrechts bei vorzeitigem
        Beginn mit der Vertragserfüllung, und nach Zurverfügungstellung einer Ausfertigung oder Bestätigung
        nach § 5 Abs 2 FAGG oder § 7 Abs 3 FAGG – noch vor Ablauf der Rücktrittsfrist nach § 11 FAGG mit
        der Lieferung begonnen hat.
        6.9.1 Beträgt das vereinbarte Entgelt weniger als EUR 50, so steht dem Kunden das Rücktrittsrecht
        gemäß § 3 KSchG zu wie folgt: Hat der Verbraucher seine Vertragserklärung weder in den vom
        Unternehmer für seine geschäftlichen Zwecke dauernd benützten Räumen noch bei einem von
        diesem dafür auf einer Messe oder einem Markt benützten Stand abgegeben, so kann er von seinem
        Vertragsantrag oder vom Vertrag zurücktreten. Dieser Rücktritt kann bis zum Zustandekommen des
        Vertrags oder danach binnen 14 Tagen erklärt werden. Der Lauf dieser Frist beginnt mit der
        Ausfolgung einer Urkunde, die zumindest den Namen und die Anschrift des Unternehmers, die zur
        Identifizierung des Vertrags notwendigen Angaben sowie eine Belehrung über das Rücktrittsrecht, die
        Rücktrittsfrist und die Vorgangsweise für die Ausübung des Rücktrittsrechts enthält, an den
        Verbraucher, frühestens jedoch mit dem Zustandekommen des Vertrags, bei Kaufverträgen über
        Waren mit dem Tag, an dem der Verbraucher den Besitz an der Ware erlangt. Ist die Ausfolgung einer
        solchen Urkunde unterblieben, so steht dem Verbraucher das Rücktrittsrecht für eine Frist von zwölf
        Monaten und 14 Tagen ab Vertragsabschluss beziehungsweise Warenlieferung zu; wenn der
        Unternehmer die Urkundenausfolgung innerhalb von zwölf Monaten ab dem Fristbeginn nachholt, so
        endet die verlängerte Rücktrittsfrist 14 Tage nach dem Zeitpunkt, zu dem der Verbraucher die
        Urkunde erhält.
        6.9.2 Diesfalls gelten für die Ausübung des Rücktrittsrechtes die Bestimmungen der obigen Punkte
        6.4 und 6.5. Es kann das Muster der Rücktrittserklärung des Punktes 6.1 verwendet werden.
        6.9.3 Das Rücktrittsrecht steht dem Verbraucher nicht zu, wenn er selbst die geschäftliche Verbindung
        mit dem Unternehmer oder dessen Beauftragten zwecks Schließung dieses Vertrages angebahnt hat,
        wenn dem Zustandekommen des Vertrages keine Besprechungen zwischen den Beteiligten oder
        ihren Beauftragten vorangegangen sind oder bei Verträgen, bei denen die beiderseitigen Leistungen
        sofort zu erbringen sind, wenn sie üblicherweise von Unternehmern außerhalb ihrer Geschäftsräume
        geschlossen werden und das vereinbarte Entgelt 25 Euro, oder wenn das Unternehmen nach seiner
        Natur nicht in ständigen Geschäftsräumen betrieben wird und das Entgelt 50 Euro nicht übersteigt, bei
        Verträgen, die dem Fern- und Auswärtsgeschäfte-Gesetz unterliegen (diesfalls besteht das
        Rücktrittsrecht gem oben Punkt 6.1 bis 6.8) oder bei Vertragserklärungen, die der Verbraucher in
        körperlicher Abwesenheit des Unternehmers abgegeben hat, es sei denn, dass er dazu vom
        Unternehmer gedrängt worden ist.
        7 Eigentumsvorbehalt
        7.1 Die von uns gelieferte Ware bleibt bis zur vollständigen Bezahlung aller unserer Forderungen aus
        der jeweiligen Lieferung unser Eigentum.
        - 8 -
        7.2 Der Kunde ist verpflichtet, die Ware während des Bestehens des Eigentumsvorbehalts pfleglich zu
        behandeln. Er hat uns unverzüglich von allen Zugriffen Dritter auf die Ware zu unterrichten,
        insbesondere von Zwangsvollstreckungsmaßnahmen, sowie von Beschädigungen oder der
        Vernichtung der Ware. Der Kunde hat uns bei Vorliegen von Verschulden alle Schäden und Kosten zu
        ersetzen, die durch einen Verstoß gegen diese Verpflichtungen und durch erforderliche
        Interventionsmaßnahmen gegen Zugriffe Dritter auf die Ware entstehen.
        8 Gewährleistung
        8.1 Gegenüber Verbrauchern bei Mängeln der Ware gelten die gesetzlichen
        Gewährleistungsbestimmungen (§8 KSchG). Kein Fall der Gewährleistung liegt bei Schäden vor, die
        durch eine unsachgemäße Verwendung oder Behandlung des Produktes entstanden sind. Gleiches
        gilt für gewöhnliche Abnutzung.
        8.2 Die Produktabbildungen auf der Website und/oder in unseren Foldern können aufgrund der
        Auflösung und Größe hinsichtlich Farbe und Größe vom Aussehen der gelieferten Produkte
        abweichen. Die gelieferte Ware gilt als vertragsgemäß, wenn die gelieferten Stücke der sonstigen
        Produktspezifikation entsprechen.
        8.3 Sofern der Kunde ein Verbraucher im Sinne des KSchG ist, hat er die gelieferte Ware nach Erhalt
        tunlichst auf Vollständigkeit, Richtigkeit und sonstige Mängelfreiheit, insbesondere auf Unversehrtheit
        der Verpackung, zu überprüfen und uns eventuelle Mängel per E-Mail an xxx@xxx.at bekannt zu
        geben und kurz zu beschreiben. Dies dient lediglich der rascheren und effektiveren Bearbeitung
        etwaiger Mängelrügen. Eine Verletzung dieser Obliegenheit führt zu keiner Einschränkung der
        gesetzlichen Gewährleistungsrechte des Verbrauchers.
        8.4 Wird eine Rücksendung der Ware an uns vom Kunden gefordert und ist die Ware tatsächlich
        mangelhaft, so tragen wir die entsprechenden Kosten. Andernfalls sind etwaige Kosten der Sendung
        durch den Verbraucher zu tragen. Mangelhafte Ware ist daher nur auf unseren ausdrücklichen
        Wunsch hin zurück zu senden.
        9 Haftung
        9.1 Wir haften für Schäden nach den gesetzlichen Bestimmungen. Die Haftung für leicht fahrlässig
        zugefügte Schäden ist jedoch ausgeschlossen. Diese Haftungsbeschränkung gilt nicht für Schäden
        aus der Verletzung des Lebens, des Körpers oder der Gesundheit von Menschen und für Ansprüche
        nach dem Produkthaftungsgesetz.
        10 Datenschutz, Adressenänderung
        10.1 Die uns vom Kunden im Rahmen der Geschäftsbeziehung bekannt gegebenen persönlichen
        Daten wie z.B. Name, Adresse, E-Mail, Telefonnummer sowie Lieferanschrift werden von uns
        gespeichert und verarbeitet. Wir benutzen die Daten im Rahmen der gesetzlichen Ermächtigung um
        die Bestellung auszuführen. Mit Aktivierung des Kästchens zur datenschutzrechtlichen Zustimmung,
        stimmt der Kunde ausdrücklich zu, dass die von ihm im Zuge des Vertragsabschlusses bekannt
        gegebenen personenbezogenen Daten (wie Name, Adresse, E-Mail, Telefonnummer sowie
        Lieferanschrift) auch zu eigenen Marketingzwecken und somit insbesondere für Zusendungen zu
        werblichen Zwecken per SMS und E-Mail gemäß § 107 TKG gespeichert und verarbeitet werden. Eine
        darüber hinausgehende Weitergabe personenbezogener Daten an Dritte findet nicht statt. Beide
        Zustimmungen können – auch getrennt voneinander – jederzeit (zB per Mail an xxx@xxx.at)
        widerrufen werden. Unser Unternehmen macht im Rahmen der gesetzlichen Bestimmungen des §10
        DSG 2000 von der Möglichkeit eines Dienstleisters gebrauch, welcher sich zur Einhaltung seiner
        Pflichten gemäß §11 DSG verpflichtet hat. Weder durch unser Unternehmen, noch durch unsere
        Partner (Dienstleister) werden Daten an Empfänger Übermittelt oder Überlassen, die ihren Sitz
        - 9 -
        außerhalb des Europäischen Wirtschaftsraum haben. Wir sind zur Einhaltung der
        Datensicherungsmaßnahmen (§14 DSG) und des Datengeheimnisses (§15 DSG) verpflichtet.
        10.2 Der Kunde ist verpflichtet uns Änderungen seiner Wohn- bzw. Geschäftsadresse sowie
        Kontaktdaten während aufrechter Geschäftsbeziehung umgehend bekannt zu geben. Unterlässt er die
        Mitteilung, so gelten Erklärungen auch dann als zugegangen, falls sie an die von ihm zuletzt bekannt
        gegebene Adresse gesendet werden.
        11 Gerichtsstand, Rechtswahl, Sonstiges
        11.1 Gerichtsstand für alle Streitigkeiten aus diesem Vertrag ist das für PLZ/ORT örtlich und sachlich
        zuständige Gericht, ausgenommen in den Fällen gemäß 12.2. Unsere Befugnis, in diesem Fall auch
        ein anderes für den Kunden zuständiges Gericht anzurufen bleibt hiervon unberührt.
        11.2 Ist unser Kunde Verbraucher und hat zum Zeitpunkt des Vertragsabschlusses in Österreich
        seinen Wohnsitz oder seinen gewöhnlichen Aufenthalt oder ist er im Inland beschäftigt, so kann für
        eine Klage gegen ihn nur die Zuständigkeit des Gerichtes begründet werden, in dessen Sprengel der
        Wohnsitz, der gewöhnliche Aufenthalt oder der Ort der Beschäftigung liegt.
        Ist der Kunde Verbraucher und zum Zeitpunkt des Vertragsabschlusses in einem anderen EUMitgliedsstaat wohnhaft oder gewöhnlich aufhältig und üben wir in dem Mitgliedstaat der EU, in
        dessen Hoheitsgebiet der Verbraucher seinen Wohnsitz hat, eine berufliche oder gewerbliche
        Tätigkeit aus oder richten eine solche auf irgend einem Wege auf diesen Mitgliedstaat oder auf
        mehrere Staaten, einschließlich dieses Mitgliedstaats, aus und fällt der Vertrag in den Bereich dieser
        Tätigkeit, so kann auch vor dem Gericht des Ortes, an dem der Verbraucher seinen Wohnsitz hat, die
        Klage des Verbrauchers erhoben werden; die Klage gegen den Verbraucher kann nur vor den
        Gerichten des Mitgliedstaats erhoben werden, in dessen Hoheitsgebiet der Verbraucher seinen
        Wohnsitz hat.
        11.3 Es gilt ausschließlich das materielle Recht der Republik Österreich unter Ausschluss der
        Verweisungsnormen und des UN Kaufrechts. Bei Verbrauchern gilt diese Rechtswahl nur insoweit, als
        zwingende Bestimmungen des Rechts des Staates, in dem er seinen gewöhnlichen Aufenthalt hat,
        nicht verdrängt werden.
        11.4 Sollten einzelne Regelungen dieser AGB ganz oder teilweise unwirksam sein, so berührt dies die
        Gültigkeit der übrigen Regelungen und der unter ihrer Zugrundelegung geschlossenen Verträge nicht.
        Die ganz oder teilweise unwirksame Regelung wird ausschließlich bei Verträgen mit Unternehmern
        durch eine Regelung ersetzt, die dem Sinn und Zweck der unwirksamen Regelung am nächsten
        kommt.
        ABSCHNITT II. - Unternehmergeschäft
        Wird ein Vertrag gemäß 1.1 mit einem Unternehmer geschlossen, gelten überdies die folgenden
        abweichenden Bestimmungen
        II/1 Gewährleistung:
        - 10 -
        Ist der Kunde ein Unternehmer, hat er die gelieferte Ware nach Erhalt auf Vollständigkeit, Richtigkeit
        und sonstige Mängelfreiheit, insbesondere Unversehrtheit der Verpackung, zu überprüfen. Bei
        Vorliegen von Mängeln hat er diese binnen angemessener Frist, spätestens jedoch vier Werktage
        nach Erhalt der Ware per E-Mail an xxx@xxx.at zu rügen. Später erkennbare Mängel sind ebenso
        unverzüglich, längstens binnen vier Werktagen nach Erkennbarkeit zu rügen. Hat der Unternehmer
        innerhalb der Rügefrist keine Mängel festgestellt und gerügt, gilt die Lieferung als genehmigt und es
        entfallen damit sämtliche Ansprüche wie zB Gewährleistung, Irrtumsanfechtung oder Schadenersatz
        wegen einer später behaupteten Abweichung oder Defekts (§ 377 UGB). Das gilt auch hinsichtlich
        etwaiger Falschlieferungen oder Abweichungen der Liefermenge.
        Ist der Kunde ein Unternehmer, so obliegt uns die ausschließliche Wahl des Rechtsbehelfes zur
        Beseitigung eines rechtzeitig gerügten Mangels. Es steht uns auch frei, die Vereinbarung sofort zu
        wandeln.
        Ist der Kunde ein Unternehmer hat er die Kosten für die Rücksendung der Ware zur Verbesserung
        bzw zum Austausch zu tragen.
        II/2 Haftung
        9.2 Kunden, die Unternehmer sind, haben das Vorliegen von Vorsatz oder grober Fahrlässigkeit zu
        beweisen und Schadenersatzansprüche innerhalb von einem Jahr ab Gefahrenübergang geltend zu
        machen. Die in diesen AGB enthaltenen oder sonst vereinbarten Bestimmungen über Schadenersatz
        gelten auch dann, wenn der Schadenersatzanspruch neben oder anstelle eines
        Gewährleistungsanspruches geltend gemacht wird.
        9.3 Ist der Kunde Unternehmer, so sind allfällige Regressforderungen im Sinne des § 12
        Produkthaftungsgesetz ausgeschlossen, es sei denn, der Regressberechtigte weist nach, dass der
        Fehler in unserer Sphäre verursacht und zumindest grob fahrlässig verschuldet worden ist.
        II/3 Zurückbehaltungsverbote und Aufrechnung
        10.1 Gerechtfertigte Reklamationen berechtigen Kunden die Unternehmer sind nicht zur
        Zurückhaltung des Rechnungsbetrages. Die Aufrechnung von behaupteten Gegenforderungen gegen
        die Entgeltsforderung ist nicht zulässig, soweit wir dieser nicht ausdrücklich zustimmen.
        II/4 Rechtswahl; Erfüllungsort und Gerichtsstand
        Es gilt zwingend österreichisches Recht unter Ausschluß der Verweisungsnormen und des UNKaufrechtes. Erfüllungsort ist PLZ/ORT. Für Streitigkeiten aus oder über diesen AGB unterliegenden
        Rechtsgeschäften wird die ausschließliche Zuständigkeit des Bezirksgerichtes für Handelssachen bzw
        des Handelsgerichtes in Stadt vereinbart. Dies entsprechend der Höhe des Streitwertes.
</p>
