@{
    ViewBag.Title = "Impressum";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>
        Contact:
    </strong>Oliver Rotter<br />
    <strong>
        Company:
    </strong>Electronic 4 You e.U.<br />
    <strong>
        Addr:
    </strong>Simmeringer Hauptraße 47-49, Wien - 1110<br />
    <strong>
        <abbr title="Phone">Tel:</abbr>
    </strong>
    0800 1234 98765 <br />
    <strong>Email:</strong>   <a href="mailto:contact@oliver-rotter.com">contact@oliver-rotter.com</a><br />

    <hr />
    <strong>Gewerberechtlicher Geschäftsführer: </strong>Oliver Rotter<br />
    <strong>Firmensitz: </strong>Wien<br />
    <strong>Gericht: </strong>Handelsgericht Wien<br />
    <strong>Firmenbuch-Nr.: </strong>FN 254253w<br />
    <strong>UID-Nr.: </strong>ATU61102434,<br />
    <strong>Kammerzugehörigkeit:  </strong>Wirtschaftskammer Wien<br />

    <strong>Fachgruppe:  </strong>Einzelhandel mit Audio-, Video- und Elektrogeräten, Kommunikationselektronik<br />
    <strong>Berufszweig:  </strong>Elektroeinzelhandel<br />

</address>

