@{
    ViewBag.Title = "Impressum";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>
    Contact: 
    </strong>Oliver Rotter<br />
    <strong>
        Company:
    </strong>BBRZ Reha GmbH <br />
    <strong>
        Addr:
    </strong>Simmeringer Hauptraße 47-49, Wien - 1110<br />
    <strong>
        <abbr title="Phone">Tel:</abbr>
    </strong>
    0800 1234 98765 <br />
    <strong>Email:</strong>   <a href="mailto:contact@oliver-rotter.com">contact@oliver-rotter.com</a><br />
</address>

