
@{
    ViewBag.Title = "Thank you for your Order";
}

<h1>Invoice</h1>

<h3>Payment to:</h3>

<address>
    <strong>
        Payment Receiver:
    </strong>Oliver Rotter<br />
    <strong>
        Company:
    </strong>Electronic 4 You e.U.<br />
    <strong>
        Addr:
    </strong>Simmeringer Hauptraße 47-49, Wien - 1110<br />

    <strong>Bank:</strong>  Erste Bank<br />
    <strong>IBan:</strong> 	AT61 1904 3002 3457 3201<br />
    <strong>BIC:</strong> 	GIBAATWW <br />
    <strong>BLZ:</strong> 	20111 <br />

    <strong>
        <abbr title="Phone">Tel:</abbr>
    </strong>
    0800 1234 98765 <br />
    <strong>Email:</strong>   <a href="mailto:contact@oliver-rotter.com">contact@oliver-rotter.com</a><br />

</address>


